.LswCalendario .like_table {
    display: table;
    width: 100%;
}
.LswCalendario .like_row {
    display: table-row;
}
.LswCalendario .like_cell {
    display: table-cell;
}
table.tabla_de_calendario {
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin-left: 1px;
}
button.boton_de_calendario {
    min-width: auto;
    width: auto;
    padding: 2px;
    min-width: 25px;
}
button.boton_de_dia_de_calendario {
    min-width: 32px;
}
button.boton_de_dia_de_calendario.active {
    background-color: rgb(46, 46, 97);
}
button.boton_de_mover_mes {
    width: auto;
    min-width: 25px;
}
input.entrada_de_calendario {
    min-width: auto;
    width: auto;
    text-align: center;
}
.chivato_de_fecha {
    font-size: 10px;
    font-family: Arial;
    text-align: center;
}
table.tabla_para_horas {
    width: 100%;
    border-left: 1px solid white;
}
table.tabla_para_horas button {
    width: 100%;
    height: 100%;
}
table.tabla_para_horas input {
    width: 100%;
}
.Component.LswCalendario button {
    border-radius: 0pt;
    
}
tr.fila_de_dias_de_semana > td {
    background-color: #232;
    color: white;
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
tbody.dias_de_calendario > tr > td {
    padding: 0px;
    border-right: 1px solid white;
}
tbody.dias_de_calendario > tr > td > span {
    display: inline-block;
    background-color: #BBB;
    color: black;
    width: 100%;
    height: 100%;
    padding: 0px;
}
tbody.dias_de_calendario > tr > td > span > button {
    width: 100%;
    height: 100%;
}